# Variables prefixed with VITE_ are embedded in the browser bundle and public.
VITE_API_URL=http://localhost:3000
VITE_SUPABASE_URL=https://vmjjeskhwnsujkpivsze.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_nox7_ulHCo7EAu4qvaZUVw_jadgnGaV
